---
title: Pantone Portfolio | Josh Hare NZ
---

{% include header.html %}
    <div class="content ">
      <div class="helpinner">
        <div class="big">yo </div>
      Welcome to the website of Josh Hare, a front end web designer from New Zealand.
      <br><br>
      <div class="big">switch</div>
    We're going to switch tense to first person so I can write.<br>
    <br><br>
      <div class="big">website</div>
      This website is inspired from the Pantone color authority, though not in any way affiliated. I just love digital color. <br><br>
      <div class="big">color</div>
     Choosing a color scheme is a huge part of developing anything digital. From a simple user interface to complete branding marketing materials, color is a critical factor in how approachable a design is. I want to make an interface which feels fresh, and this is the beginning.
     <br><br>
    <div class="big">pantone</div>
       The No.1 cool thing about Pantone palettes has got to be the carefully thought out relationships between every range of colors. Beautiful complementary tones. My favourite palette on this website is the `Pantones of Fall 2015`, check it out by clicking `change palette` in the bottom left corner. Have a play around - you won't break anything. Got any ideas how this could be doperer? Flick me a message.
       <br><br>
       <div class="big">legibility</div>
       In recent years thin fonts have become a standard in quickly achieving a professional typeface. So what's good? Let's compare.<br>
       <p style="font-size:28px; font-weight:700">I'm bold, bold as love.</p>
         <p style="font-size:28px;  font-weight:400">I'm normal, normal as love.</p>
           <p style="font-size:28px; font-weight:300">I'm light, light as love.</p>
          <p style="font-size:28px; font-weight:100">I'm thin, thin as love.</p>
          On this page we are using the light `Lato` font for the body text. Thin is a little too skinny to being truly legible for body text but with a large font size, say 40px, it looks good. Always a toss up between aesthetic and usability. Though are blessed because beauty is in the eye of the beholder. I reckon,
           <p style="font-size:44px; line-height:44px; font-weight:100">Thin fonts can pack a punch.</p>
           Yeah, well, that's just, like, your opinion, man.
    <br><br>
           <div class="big">star wars vs good code</div>
           A crucial usability factor when using a code editor is the theme. My code editor is Star Wars themed - this only serving a purpose of enjoyment - and STILL I type more stuff, I'm more engaged. How come that's even a thing? Dunno why, but I sacrifice legibility for style. It's less readable than it is with a light theme yet I will have more concentration on it because of the visual appeal. Like the old geezer with the pink speedos on the beach all summer. Not really like that but we've all been there.<br><br>
           <div class="big">enjoy your stay</div>
           Thanks for coming. Merci beaucoup.<br><br>

    </div>

      <p class="copyright">Website Copyright &copy; Josh Hare, 2015</p>
    </div>
    <!-- close content above. close container below -->
    <div class="clear"></div>
  </div>


{% include footer.html %}
