---
title: Contact | Josh Hare NZ
---

{% include header.html %}

	<div class="content">


		<h2 class="primary">Contact Me</h2>


<h3 class="flex secondary noselect" onclick="pan.dom.colourWheel(this)">Fancy getting in touch?</h3>


<hr class="primary hr">

<div class="hometitle"><a class="primary" href="tel:917-340-4890"><i class="fa fa-phone"></i> Call (917) 340 4890</a><br><br><a class="primary" href="mailto:joshuadhare@gmail.com"><i class="fa fa-mail-reply"></i> Email joshuadhare@gmail.com</a><br><br> <a class="primary" href="#contact-form"><i class="fa fa-keyboard-o"></i> Wrangle the form</a></div>

<hr class="primary hr">
<br>
<h3 class="hello-head primary" id="sayhello">Gotta drop a line to catch a fish</h3>

<div id="contact_results">&nbsp;</div>

<form class="contactform" id="contact-form" name="contact">
  <input class="primary" id="name" name="name" placeholder="Your Name *" required="true" type="text" />
  <input class="primary" id="phone" name="phone" placeholder="Your Telephone" required="" type="tel" />
  <input class="primary" id="email" name="email" placeholder="Your E-mail *" required="true" type="email" />
  <textarea class="primary" id="message" name="message" placeholder="Your Message *" required="true" type="text"></textarea>

<div class="send secondary" id="sendform">
<h4>Send</h4>
</div>
</form>


<hr class="primary hr">


<p class="copyright primary">Copyright &copy; Josh Hare, 2016</p>
</div>
<!-- close content above. close container below -->
<div class="clear"></div>
</div>
{% include footer.html %}
