---
title: About Me | Josh Hare NZ
---

{% include header.html %}
    <div class="content">
      <h2>&nbsp;Hello, Josh Hare</h2>

      <div class="tags flex secondary noselect" data-tooltip="What a gross pantone" onclick="pan.dom.colourWheel(this)">designer
        <br>&&&
        <br>developer</div>

        <div style="max-width:288px" class="secondary me" data-tooltip="'Climb every mountain (reach),
  Reach for the moon (reach),
  Follow that rainbow,
  And your dreams will all come true.

  Reach for the stars,
  Climb every mountain higher,
  Reach for the stars,
  Follow your hearts desire,
  Reach for the stars,
  And when that rainbow's shining over you,
  That's when your dreams will all come true.' - S CLUB 7, R34CH" onclick="pan.dom.colourWheel(this)"><img src="/images/me/prof.jpg" />
        </div>

      <div class="whiteout block">
        <h3 class="flex secondary noselect" onclick="pan.dom.colourWheel(this)">Roots</h3>


        <div class="home">
          <div class="fifty">
            <span class="righthead">I'm from Tauranga,<br> New Zealand.</span>
            <img src="/images/me/arrow-bg.png" class="secondary" style="max-width:90px; float:right;" />
          </div>
          <div class="fourty">
            <a data-tooltip="Her love shines over my horizon, she's a slice (slice of heaven)" href="/images/me/mount-maunganui-tauranga.jpg"
            class="image-popup-no-margins noselect"> <img src="/images/me/new-zealand.png" style="max-width:220px; float:left;" class="secondary" />
            </a>
          </div>

        </div>
        <div class="clear"></div>
      </div>

      <div class="">
        <h3 class="flex secondary noselect" onclick="pan.dom.colourWheel(this)">About Me</h3>
        <div class="blurb">
          <p>Beginning to spin a yarn about me, I find I get easily overwhelmed by the BIG questions. Like, why am I who I am
            what I am who am I? To be honest, I don't really understand. It's just too easy to say:</p>
          <table class="secondary">
            <tr>
              <td class="list">
                Name
              </td>
              <td>
                Josh Hare.
              </td>
            </tr>
            <tr>
              <td class="list">
                Description
              </td>
              <td>
                Geek.
              </td>
            </tr>

            <tr>
              <td class="list">
                LUVS
              </td>
              <td>
                Exploring, travelling, banter, memories, the internet, the ocean, friends, family, live music, making music, secret music,
                a decent workflow, smashing out <i>good</i> code, no reception, reception.
              </td>
            </tr>

            <tr>
              <td class="list">
                H8Z
              </td>
              <td>
                Crashing, Over analysing, hypocrisy, spelling hypocrisy, over poaching eggs and too much
                marmite, 20 minute jams from a band you think you might love but instead you see them live and they just jam for 20 minutes - one dude's got a violin bow scraping his guitar strings and there's a bitter feeling in the crowd air because they aren't The Grateful Dead and no one has heard a song yet. That's the worst!
              </td>
            </tr>
          </table>
          <p>But a list doesn't say much about me. It even looks like I have more hates then loves. That's simply not true -
            lists can be decieving. So maybe it's better to just look for a context. A context to encompass a thought about
            something a tad real about me.</p>
          <p class="primary"> Well, currently I want to be surrounded by colour - looking out of my window into a bleak yet beautiful Hells Kitchen.
            This place convinced me to throw together something vibrant - welcome to my website. In search of this vibrancy,
            in my everlong battle finding colour in this neon city, I often close my eyes at the end of the day and think
            back to the few times I've witnessed a sore thumb stuck right out. One of those times you feel like an outsider,
            <a href='https://www.youtube.com/watch?v=-FucbvoFFy0' class='popup-youtube noselect'>unworthy</a> of whatever
            beauty you've stumbled upon - a landscape, a person, a sound. </p>
          <p>Growing up in New Zealand means being spoilt by imagery and audio from a vast array of natures offerings. Spoilt
            rotten. See I love tech, but it's one thing blasting a rainforest shower through headphones before sleeping,
            and another entirely to open my minds eye, to stretch across Milford Sound. So I do that. I think most people
            do that, go their own places, but it feels unique. It feels where I've come from, where I've gone to and the
            juicy bits in between. It feels like something about me.</p>
        </div>
      </div>
      <br>
      <div class="secondary me" data-tooltip="'Climb every mountain (reach),
Reach for the moon (reach),
Follow that rainbow,
And your dreams will all come true.

Reach for the stars,
Climb every mountain higher,
Reach for the stars,
Follow your hearts desire,
Reach for the stars,
And when that rainbow's shining over you,
That's when your dreams will all come true.' - S CLUB 7, R34CH" onclick="pan.dom.colourWheel(this)"><img src="/images/me/stars.jpg" />
      </div>

      <h2>About this Website</h2>

      <p>This site serves as a portfolio page for my work as software developer, and pantone color experiment. It aims to be visually appealing, mobile responsive and interesting.
      </p>
      <h4>Live at <a href="http://jaorsh.github.io">http://jaorsh.github.io</a>

      <h2>
      Build process</h2>
      <h3>Webpack</h3>
      <p>We use webpack as a JS builder and dependency retriever reading from `package.json`. It provides a node like front end modular solution for requiring javascript libraries, and turns a spaghetti of dependencies and lose JS files into easy to manage static assets.</p>
      <h3>Gulp</h3>
      <p>Gulp is used to automate our build process. It generates our javascript we distribute in `dist/app.min.js`. As the filename suggests, the outputted javascript file has all of the scripts needed to run the app. These are minified and concatenated together automatically with gulp. The gulp config leverages `webpack` to use a node-like modular javascript require model, and can be found at `gulpfile.js`.</p>
      <h3>Jekyll</h3>
      <p>This webapp is served with Jekyll through GitHub pages. Jekyll is simple to use, either through GitHub or on a local server, you can specify `_templates` and `_includes` to provide structural markup to your static html pages. We are only using includes - header and footer - in this project, as all pages use the same template. You can find the header.html and footer.html in the `_includes` folder. </p>
      <p>Jekyll also can serve clean URL's by structuring index.html files within folders with the given name. http://jaorsh.github.io/about/index.html is  http://jaorsh.github.io/about/ on the front end. In this webapp we are using <a href="https://github.com/browserstate/history.js">History JS</a> to retrieve our pages and populate clean urls, as requests are fired off with Ajax. Still, for manual navigation to say, /about, this feature of Jekyll is great!</p>


      <h2>Other Libraries Used</h2>
      <ul>
      <li><a href="https://github.com/browserstate/history.js">History JS</a></li>
      <li><a href="https://github.com/lokku/jquery-nstslider">jQuery nstSlider</a></li>
      <li><a href="https://github.com/rstacruz/jquery.transit">jQuery Transit</a></li>
      <li><a href="https://github.com/Mythli/jquery.ytLoad">jQuery ytLoad</a></li>
      <li><a href="https://github.com/dimsemenov/Magnific-Popup">jQuery Magnific Popup</a></li>
      <li><a href="https://github.com/niklasvh/html2canvas">html2canvas with filesaver.js</a></li>
      <li>Javascript palette manipulations - functions.js - The heart of this project</li>
      </ul>
<br>
      <h3>Future</h3>
      <p>Make pantone javascript modular to run as a plugin on a given dom element.<p>
      <p>Remove jQuery from palette generator altogether</p>
      <p>Music?</p>
      <p>Graphics?</p>
      <p>Content?</p>
      <p>Idea? Email me at joshuadhare@gmail.com</p>
<br><br>
      <p class="copyright">Copyright &copy; Josh Hare, 2016</p>
    </div>
    <!-- close content above. close container below -->
    <div class="clear"></div>
  </div>


  <!--<![endif]-->
{% include footer.html %}
