---
title: About Me | Josh Hare NZ
---

{% include header.html %}
    <div class="content">
      <h2>&nbsp;Hello, Josh Hare</h2>

      <div class="tags flex secondary noselect" data-tooltip="What a gross pantone" onclick="pan.dom.colourWheel(this)">designer
        <br>developer
        <br>dude</div>

        <div style="max-width:288px" class="secondary me" data-tooltip="'Climb every mountain (reach),
  Reach for the moon (reach),
  Follow that rainbow,
  And your dreams will all come true.

  Reach for the stars,
  Climb every mountain higher,
  Reach for the stars,
  Follow your hearts desire,
  Reach for the stars,
  And when that rainbow's shining over you,
  That's when your dreams will all come true.' - S CLUB 7, R34CH" onclick="pan.dom.colourWheel(this)"><img src="/images/me/prof.jpg" />
        </div>

      <div class="whiteout block">
        <h3 class="flex secondary noselect" onclick="pan.dom.colourWheel(this)">Roots</h3>


        <div class="home">
          <div class="fifty">
            <span class="righthead">I'm from Tauranga,<br> New Zealand.</span>
            <img src="/images/me/arrow-bg.png" class="secondary" style="max-width:90px; float:right;" />
          </div>
          <div class="fourty">
            <a data-tooltip="Her love shines over my horizon, she's a slice (slice of heaven)" href="/images/me/mount-maunganui-tauranga.jpg"
            class="image-popup-no-margins noselect"> <img src="/images/me/new-zealand.png" style="max-width:220px; float:left;" class="secondary" />
            </a>
          </div>

        </div>
        <div class="clear"></div>
      </div>

      <div class="">
        <h3 class="flex secondary noselect" onclick="pan.dom.colourWheel(this)">About Me</h3>
        <div class="blurb">
          <p>Beginning to spin a yarn about me, I find I get easily overwhelmed by the BIG questions. Like, why am I who I am
            what I am who am I? To be honest, I don't really understand. It's just too easy to say:</p>
          <table class="secondary">
            <tr>
              <td class="list">
                Name
              </td>
              <td>
                Josh Hare.
              </td>
            </tr>
            <tr>
              <td class="list">
                Description
              </td>
              <td>
                Geek.
              </td>
            </tr>

            <tr>
              <td class="list">
                LUVS
              </td>
              <td>
                Exploring, travelling, banter, memories, the internet, the ocean, friends, family, live music, making music, secret music,
                haXXing, all nighters, smashing out <i>good</i> code, no reception, reception.
              </td>
            </tr>

            <tr>
              <td class="list">
                H8Z
              </td>
              <td>
                Over analysing stuff, hypocrisy, spelling hypocrisy, social <i>class</i>, over poaching eggs and too much
                marmite, 20 minute jam from a band you are trying to like but then you see them live and they just jam for
                20 minutes one dude's got a violin bow scraping his guitar strings it's like cmon play a real song drop the
                violin guy.
              </td>
            </tr>
          </table>
          <p>But a list doesn't say much about me. It even looks like I have more hates then loves. That's simply not true,
            lists can be decieving. So maybe it's better to just look for a context. A context to encompass a thought about
            something a tad real about me.</p>
          <p class="primary"> Well, currently I want to be surrounded by colour - looking out of my window into a bleak yet beautiful Hells Kitchen.
            This place convinced me to throw together something vibrant - welcome to my website. In search of this vibrancy,
            in my everlong battle finding colour in this neon city, I often close my eyes at the end of the day and think
            back to the few times I've witnessed a sore thumb stuck right out. One of those times you feel like an outsider,
            <a href='https://www.youtube.com/watch?v=-FucbvoFFy0' class='popup-youtube noselect'>unworthy</a> of whatever
            beauty you've stumbled upon - a landscape, a person, a sound. </p>
          <p>Growing up in New Zealand means being spoilt by imagery and audio from a vast array of natures offerings. Spoilt
            rotten. See I love tech, but it's one thing blasting a rainforest shower through headphones before sleeping,
            and another entirely to open my minds eye, to stretch across Milford Sound. So I do that. I think most people
            do that, go their own places, but it feels unique. It feels where I've come from, where I've gone to and the
            juicy bits in between. It feels like something about me.</p>
        </div>
      </div>
      <br>
      <div class="secondary me" data-tooltip="'Climb every mountain (reach),
Reach for the moon (reach),
Follow that rainbow,
And your dreams will all come true.

Reach for the stars,
Climb every mountain higher,
Reach for the stars,
Follow your hearts desire,
Reach for the stars,
And when that rainbow's shining over you,
That's when your dreams will all come true.' - S CLUB 7, R34CH" onclick="pan.dom.colourWheel(this)"><img src="/images/me/stars.jpg" />
      </div>

      <p class="copyright">Copyright &copy; Josh Hare, 2016</p>
    </div>
    <!-- close content above. close container below -->
    <div class="clear"></div>
  </div>


  <!--<![endif]-->
{% include footer.html %}
