---
title: Portfolio | Josh Hare NZ
---

{% include header.html %}

	<div class="content">

    <h2 class="primary">Portfolio</h2>


<h3 class="flex secondary noselect" onclick="pan.dom.colourWheel(this)">Development</h3><br>

<div class="blurb primary"><p>Check out a couple of web niknak's I've designed and developed. First up an iOS and Android app SafeTraveller, then my personal favourite web creation working at Inspyre Design, `The Galaxy`.</p>
</div>
<div class="safetraveller">
    <a class="primary" style="display:block" target="_blank" href="http://st.inspyre.net.nz">
<img src="/images/safetraveller/SafeTraveller-logo.png" class="stLogo"  /></a>
<img src="/images/safetraveller/stMockup.png" class="stiPhone" />
<img src="/images/safetraveller/badge.png" class="stBadge" />
<div><span>SafeTraveller is an iOS and Android app developed as an aid for hitchhikers and the solo traveller.</span>
  <br>
    <hr class=" hr">
  <span>As the sole developer for the SafeTraveller SaaS, I was able to experience all facets of the app creation lifecycle from design to ship - creating the UI, learning and working with new frameworks and technologies on the fly, creating promotional material for marketing, transitioning into an app store production model, and much more.</span>
  <br>
    <hr class="hr">
  <span>Alongside the mobile app I developed a web portal providing user trip management for SafeTraveller. SafeTraveller technologies utilised include Kendo MVVM UI Framework, Apache Cordova (background geolocation, push notifications, in app purchase), Telerik Everlive MBaaS, RESTful Emergency Contact API's.  </span>
</div>
<br>
    <hr class="hr">    <a target="_blank" href="https://itunes.apple.com/us/app/safetraveller/id1003640613?ls=1&mt=8"><img src="/images/safetraveller/iOS-app-store.gif" style="width:140px;" /></a>
		<a target="_blank" href="https://itunes.apple.com/us/app/safetraveller/id1003640613?ls=1&mt=8"><img src="/images/safetraveller/Android-app-store.png" style="width:130px;" /></a><div class="clear"></div>
    <div class="screenshots">
  <a href="/images/safetraveller/web-portal.jpg" class="image-popup-no-margins">  <img src="/images/safetraveller/web-portal.jpg" /></a>
  <a href="/images/safetraveller/website.jpg" class="image-popup-no-margins">    <img src="/images/safetraveller/website.jpg" /></a>

  </div>
    </div>

		<div class="inspyre">
		<a class="primary" style="display:block" target="_blank" href="http://inspyre.nz">
		<img src="/images/inspyre/inspyre-font.png" class="stLogo"  /></a>
		<img src="/images/inspyre/homepage.jpg" class="stiPhone" />
		<img src="/images/inspyre/inspyre-badge.png" class="stBadge" />
		<br><br>
		<div><span>Inspyre Web Design's WebGL driven galaxial website</span>
		<br>
		<hr class="primary hr">
		<span>Technologies / Plugins used: three.js, Ajax with History.js, HTML5 CSS3 transitions, JS audio (soundmanager), Google + Custom Analytics, Waterfall.js, Custom CMS + PHP backend </span>
		<br>
		<hr class="primary hr">
		  <a target="_blank" href="http://inspyre.nz" style="font-size:1.3em; color:black;">Click here to check out the website</a>
		</div>


	  <div class="clear"></div>
		<div class="screenshots">
		<a href="/images/inspyre/services.jpg" class="image-popup-no-margins">  <img src="/images/inspyre/services.jpg" /></a>
		<a href="/images/inspyre/inspyre-web-design-portfolio.jpg" class="image-popup-no-margins">    <img src="/images/inspyre/inspyre-web-design-portfolio.jpg" /></a>

		</div>
		</div>


<h3 class="flex secondary noselect" onclick="pan.dom.colourWheel(this)">More</h3>
<div class="blurb"><p class="primary"><em>For a larger portfolio of work, head to<a target="_blank" href="http://inspyre.nz/portfolio">inspyre.nz/portfolio</a></em></p></div>

<div class="blackout">
<h3 class="flex secondary noselect" onclick="pan.dom.colourWheel(this)">Music</h3>
<div class="blurb"><p class="primary">Well, you've made it this far. May as well listen to some of my music :></p></div>

<iframe class="iframe" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/220063222&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
<iframe class="iframe" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/224360725&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>

<div class="clear"></div>
<p class="copyright">Copyright &copy; Josh Hare, 2016</p>
</div>

</div>
<!-- close content above. close container below -->
<div class="clear"></div>
</div>
</div>
{% include footer.html %}
